.App {
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

#wheel {
  margin: 5em auto;
  height: 360px;
  position: relative;
  width: 480px;
}

.wheel {
  &-prizes {
    border-radius: 50%;
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
    padding: 0;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(0);
    transform-origin: center center;
    width: 100%;

    li {
      display: block;
      list-style: none;
      position: absolute;
      top: 0;
      left: 50%;
      text-align: center;
      transform-origin: bottom center;
      width: 100%;
      color: #fff;
      padding: 1rem;
    }

    .inner {
      width: 100%;
      height: 100%;
      border: 1px solid #fff;
      border-radius: 10px;
      //max-width: 75%;
      margin: 0 auto;
      transition: transform .3s ease, opacity .3s ease;
    }
  }
}

.wheel-container {
  position: relative;
  left: 50%;
}

.completed {
  pointer-events: none;

  li {
    &.active .inner {
      transform: scale(1.2);
    }

    &:not(.active) .inner {
      opacity: 0.5;
    }
  }
}